@font-face {
  font-family:"Open Sans";
  src: url('https://fonts.googleapis.com/css?family=Open+Sans');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"Roboto Slab";
  src: url('https://fonts.googleapis.com/css?family=Roboto+Slab');
  font-weight: normal;
  font-style:normal;
}

/* Background image */
.bgimage {
  height: 100vh;
  background-color: #591535;
  background-size: cover;
  position:relative;
}

.hero_title{
  font-size: 4.5rem;
}

.hero_desc{
  font-size: 2rem;
}

.hero-text {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Header for website */
div.first {
  background-color: #591535;
  padding: 80px;
  margin-top: 50px;
  margin-right: -5%;
}

/* Div for content on site */
div.second {
  margin-left: 5%;
  padding-top: 5%;
}

/* Div for image on website */
div.third {
  margin-right: 5%;
  margin-left:auto;
}

/* Change fonts */
h1 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 40px;
}

h2 {
  font-family: "Roboto Slab", serif;
  text-align: center;
}

h3 {
  font-family: "Roboto Slab", serif;
  color: #591535
}

p {
  font-family: "Open Sans", sans-serif;
}

/* Align images to right */
img {
  pointer-events: none;
/*  float: right;*/
}

.navbar a {
  display: block;
}

/* Change color on hover on navbar */
.navbar a:hover {
  background-color: #ddd;
  color: black !important;
}

.navbar-custom {
  background-color: #A62662
}
