@font-face {
  font-family:"Open Sans";
  src: url('https://fonts.googleapis.com/css?family=Open+Sans');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"Roboto Slab";
  src: url('https://fonts.googleapis.com/css?family=Roboto+Slab');
  font-weight: normal;
  font-style:normal;
}

/* Background image */
.bgimage {
  height: 100vh;
  background-color: #591535;
  background-size: cover;
  position:relative;
}

.hero_title{
  font-size: 4.5rem;
}

.hero_desc{
  font-size: 2rem;
}

.hero-text {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Header for website */
div.first {
  background-color: #591535;
  padding: 80px;
  margin-top: 50px;
  margin-right: -5%;
}

/* Div for content on site */
div.second {
  margin-left: 5%;
  padding-top: 5%;
}

/* Change design of footer */
footer {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  padding: 3px;
  background-color: #835068;
  color: white;
}


/* Change fonts */
h1 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  font-size: 40px;
}

h2 {
  font-family: "Roboto Slab", serif;
  text-align: center;
}

h3 {
  font-family: "Roboto Slab", serif;
  color: #591535
}

p {
  font-family: "Open Sans", sans-serif;
}

/* Align images to right */
img {
  pointer-events: none;
/*  float: right;*/
}

.navbar a {
  display: block;
}

/* Change color on hover on navbar */
.navbar a:hover {
  background-color: #EAE2E6;
  color: black !important;
}

.navbar-custom {
  background-color: #A62662
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #591535;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #835068;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-btn-primary {
    color: #fff;
    background-color: #591535;
    border-color: #591535;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #835068;
    border-color: #835068;
}
