@font-face {
  font-family:'Open Sans';
  src: url('https://fonts.googleapis.com/css?family=Open Sans');
}

@font-face {
  font-family:'Montserrat';
  src: url('https://fonts.googleapis.com/css?family=Montserrat');
}

/* Background image */
.bgimage {
  height: 100vh;
  background-color: black;
  background-size: cover;
  position:relative;
}

.hero_title{
  text-align: center;
  position:absolute;
}

.hero_desc{
  text-align:center;
  position:absolute;
}

/* Header for website */
div.first {
  background-color: black;
  padding: 80px;
  margin-top: 50px;
}

/* Div for content on site */
div.second {
  margin-left: 50px;
  margin-top: 50px;
}

/* Div for image on website */
div.third {
  margin-right: 50px;
  margin-left:auto;
}

/* Change fonts */
h1 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white;
  font-size: 40px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: white
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/* Align images to right */
img {
  pointer-events: none;
  float: right;
}

.navbar a {
  display: block;

/* Change color on hover on navbar */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
